{
  "master": {
    "server": "dapnet.afu.rwth-aachen.de",
    "port": 43434,
    "call": "{{ unipager_callsign }}",
    "auth": "{{ unipager_api_key }}",
    "fallback": [
      [
        "funkruf.db0del.db0sda.ampr.org",
        43434
      ],
      [
        "dapnet.db0fa.ampr.org",
        43434
      ],
      [
        "pocsag2.db0nms.ampr.org",
        43434
      ],
      [
        "dapnet.db0sda.ampr.org",
        43434
      ],
      [
        "dapnet.db0vvs.ampr.org",
        43434
      ],
      [
        "dapnet.di0han.ampr.org",
        43434
      ],
      [
        "on3dhc.db0sda.ampr.org",
        43434
      ],
      [
        "dapnet.afu.rwth-aachen.de",
        43434
      ],
      [
        "db0dbn.ig-funk-siebengebirge.de",
        43434
      ]
    ]
  },
  "transmitter": "Raspager",
  "ptt": {
    "method": "Gpio",
    "inverted": false,
    "gpio_pin": 0,
    "serial_port": "/dev/ttyS0"
  },
  "raspager": {
    "freq": 439987500,
    "freq_corr": -80,
    "pa_output_level": 30,
    "mod_deviation": 13
  },
  "c9000": {
    "baudrate": 38400,
    "dummy_enabled": false,
    "dummy_port": "/dev/ttyUSB0",
    "dummy_pa_output_level": 0
  },
  "audio": {
    "device": "default",
    "level": 127,
    "inverted": false,
    "tx_delay": 0
  },
  "rfm69": {
    "port": "/dev/ttyUSB0"
  }
}

